body {
	background-image: url('../images/wood_pattern.png');
}

#wholePage {
	background-color: 	;
}

h1 {
	text-align: center;
}

#Time {
	text-align: center;
}

#Question1 {
	text-align: center;
}


.Answers1 {
	text-align: center;
}

#Question2 {
	text-align: center;
}

.Answers2 {
	text-align: center;
}

#Question3 {
	text-align: center;
}

.Answers3 {
	text-align: center;
}


